<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
      <!-- link to google fonts -->
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <!-- permalink to color scheme: http://www.colourco.de/monochrome/5/%23d9e4f2 -->
		<body>
      <header>
        <nav>
	    	  <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/resume/resume.pdf">Résumé</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/blog">Blog</a></li>
	    	  </ul>
			  </nav>
      </header>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	      <ul>
	        <li><a href="mailto:maheuxjordan@gmail.com">E-Mail</a></li>
	        <li><a href="https://github.com/jordanmaheux">GitHub</a></li>
          <li><a href="http://stackoverflow.com/users/6179575/jordan-maheux?tab=profile">StackOverflow</a></li>
          <li><a href="https://www.linkedin.com/in/jordanmaheux">LinkedIn</a></li>
          <li><a href="https://twitter.com/maheuxjordan1">Twitter</a></li>
          <li><a href="http://jordanmaheux.github.io/blog/atom.xml">RSS</a></li>
				</ul>
			</footer>
		</body>
	</html>
